@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos!</h1>
    <p></a>Whether it’s an intimate dinner for two, a corporate cocktail for fifty or a wedding or birthday party for hundreds, our expertise, impeccable service and truly authentic cuisine will ensure that your event is a grand success.</p>
</div>
